@value bodyFont, inputFontSize, inputLabel, inputBorder, inputText, inputPadding from '../../styles/Theme.css';

.container {
    display: flex;
    flex-direction: column;
}

.container label {
    color: inputLabel;
    font-family: bodyFont;
}

.container input {
    border-color: inputBorder;
    color: inputText;
    font-size: inputFontSize;
    padding: inputPadding;
}
